@model List<SocioRutina>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Lista de socio rutinas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id de socio</th>
                <th>Id de rutina</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Calificacion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sociorutinas in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => sociorutinas.IdSocio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sociorutinas.IdRutina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sociorutinas.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sociorutinas.FechaFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sociorutinas.Calificacion)
                    </td>
                    <td>
                        <form controller="SocioRutina" method="post">
                            <input type="hidden" name="idSocio" asp-for="@sociorutinas.IdSocio" />
                            <input type="hidden" name="idRutina" asp-for="@sociorutinas.IdRutina" />
                            <input type="submit" value="Eliminar" asp-action="DeleteSocioRutina" class="btn btn-sm btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
